<div class="row">
  <div class="col-3"><img src="../../assets/yoda.jpg" class="img-fluid"></div>
  <div class="col-3"><img src="../../assets/yoda.jpg" class="img-fluid"></div>
  <div class="col-3"><img src="../../assets/yoda.jpg" class="img-fluid"></div>
  <div class="col-3"><img src="../../assets/yoda.jpg" class="img-fluid"></div>
</div>
<div class="row pt-3">
  <div class="col-6">
    <p><span style="font-size: 1.5rem; color:red">WHAT'S IN THE BOX</span> คือเว็บไซด์ที่รวบรวม ศิลปินในการออกแบบ ลายเสื้อยืด ไว้อย่างมากมายทุกแนว โดยที่เราจะทำการให้การเลือกซื้อเสื้่อยืด ของคุณเปลี่ยนไปตลอดกาล</p>
  </div>
</div>
<div class="row">
  <div class="offset-3 col-6">
    <p><span style="color:red">เคยไหม</span> ที่เวลาคุณจะซื้อเสื้อยึดซักตัว แต่ไม่รู้จะซื้อลายไหนดี ลายนั้นก็อยากได้ ลายนี้ก็ดี ลองมาซื้อกับเราสิ เราจะให้วิธีการคัดเลือกจากธรรมชาติโดยการสุ่ม จากตัวเลือกที่คุณชอบ แนวคิดที่คุณชอบ ส่งไปถึงมือคุณสิ่งที่คุณต้องทำคือ การเปิดกล่องของขวัญสุดพิเศษจากเรา</p>
  </div>
</div>
<div class="row">
  <div class="offset-6 col-6">
    <p><span style="color:red">ร่วมกันเปิดกล่อง</span> เพื่อค้นหา ลวดลายใหม่ๆ ได้ตลอดเวลา หากคุณ ค้นพบลายใหม่ๆ ชื่อของคุณจะปรากฏบน Rank เพื่อเป็นส่วนหนึ่งในความภาคภูมิใจของเรา</p>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <button class="btn" style="color: white; background: red; font-size: 2.5rem;">PAY HERE</button>
  </div>
</div>
<div class="row">
  <div class="col-12 pb-2">ขั้นตอนการสั่งซื้อ</div>
  <div class="col-3"><div class="border" style="min-height: 100px;"></div></div>
  <div class="col-3"><div class="border" style="min-height: 100px;"></div></div>
  <div class="col-3"><div class="border" style="min-height: 100px;"></div></div>
  <div class="col-3"><div class="border" style="min-height: 100px;"></div></div>
</div>